body {
  overflow-x: hidden;
  background-image: url("whale.png");
  margin: 0px;  
  font-family: Arial;
  background-repeat-x: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  color: #000000;
  text-decoration: none;
}

#main-header{
  background-color: #ffffff;
  font-size: 1.2rem;  
  display:flex;
  align-items:center;
  justify-content: space-between;
  /*position: fixed;
  top: 0px;
  width: 100%;*/
}

#a-title-bot{
  display: inline-block;
}

#img-bot{
  height: 3.5rem;
  vertical-align: middle;
  display: inline-block;
}

#title-bot{
  vertical-align: middle;
  display: inline-block;
}

.login-block-desktop{
  display: inline-block;
  float: right;
  padding: 13px 13px;
  margin: 0px;
  vertical-align: middle;
  list-style-type: none;
}

.login-block-device{
  display: none;
}

.ocdb-description{
  display: inline-block;
  width: 50%;
}

#menu-items{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.button{
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #2fcbf4, #159be5);
  border: solid 1px #50e3c2;
  color: white;
  padding: 6px 13px;
  text-align: center;  
}

.nav-login{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.nav-login-device{
  display: block;
  vertical-align: middle;
}

.nav-item{
  display: inline-block;
  margin: 0px 15px;
  font-weight: bold;
}

#nav-login{

}

.nav-link{
  color: white;
  text-transform: uppercase;  
}

#nav-logout{

}

#main-nav{
  background-color: #273c47;
  align-items:center;
  display:flex;
}

.nav-img{
  vertical-align: middle;
  margin: 10px;
}

.nav-link-text-underline{
  text-decoration: underline;
}

.content-wrapper{
  margin: 0px 27px;
}

.alert-danger{
  padding: 15px;
  margin: 10px 0px;
  background-color: #f2dede;
  color: #a94442;
  border: solid 1px #ebccd1;
  border-radius: 4px;  
}

.alert-success{
  padding: 15px;
  margin: 10px 0px;
  background-color: #dff0d8;
  color: #3c763d;
  border: solid 1px #d6e9c6;
  border-radius: 4px;  
}

#error-message{

}

#success-message{

}

.hidden{
  display: none;
}

.content-title{
  font-size:2.3rem;
  color: #273c47;
  margin:10px 0px;
}

.content-subtitle{
  font-size:1.5rem;
  margin-bottom: 10px;
  color: #273c47;
}

.content-description{
  font-size:1rem;
  line-height: 1.63;
  padding-left: 20px;
  margin: 0px;
}

.form-add-remove-device{
  display: block;
  margin: 20px auto;
  text-align: center;
}

.form-add-remove{
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.input{
  box-sizing: border-box;
}

.visibledevice {display:none;}
.visibledesktop {display:display;}
.visibledevice-inline{display:none;}
.visibledesktop-inline {display:inline-block;}

@media (max-width : 500px) {
  .visibledevice {display:block;}
  .visibledesktop {display:none;}
  
  .visibledevice-inline{display:inline-block;}
  .visibledesktop-inline {display:none;}
  
  .login-block-desktop{display:none;}
  .login-block-device{
    display: inline-block;
    float: right;
    padding: 13px 13px;
    margin: 0px;
    vertical-align: middle;
    list-style-type: none;
  }
}



.fancy{
  display:inline-block;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #50e3c2;
  padding: 6px 13px;
  margin-right: 5px;
  vertical-align: middle;
}

.w7{
  width: 7rem;
}

.w13{
  width: 13rem;
}

.w100{
  width: 100%;
}

.w50{
  width: 50%;
  margin: 3px;
}

.divider-transparent{
  margin-top: 35px;
  background-color: rgba(192, 221, 216, 0.5);
  border: solid 1px #979797;
  height: 50px;
}

.div-button-username{
  display: inline-block;
}

.fancy-container{
  border-radius: 35px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(200, 220, 217, 0.7);
  border: solid 1px #50e3c2;
  display:block;
  margin: 35px 27px;
  padding: 20px 33px;
}

.title-whitelist{
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-whitelist-device{
  display:block;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ib{
  display: inline-block;
}

.b{
  display: block;
}

.r{
  float: right;
}

#check-out-text{
  display: inline-block;
  color: white;
  font-size:1.5rem;
}

#check-out-text-device{
  display: block;
  color: white;
  font-size:1.5rem;
  margin-bottom:15px;
}

#steemians-text{
  display: inline-block;
  color: white;
  font-size:1.5rem;
}

.size-whitelist{
  display: inline-block;
  font-size:1.8rem;
  font-weight: 900;
  color: #2ecaf3;
  margin-right: 10px;
  text-shadow: 0 2px 5px #ffffff;
}

#whitelist{  
  overflow-y: scroll; 
  overflow-x: hidden;  
  height: 28rem;  
}

.whitelist-item{
  display: inline-block;
  margin: 10px;
  width: 7rem;
}

.whitelist-item-device{
  display: block;
  margin: 20px;
}

.whitelist-img{
  height: 5rem;
  border-radius: 50%;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}





.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    vertical-align: middle;
    background: #50e3c2;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: solid 0.3px #979797;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: #000000;
    cursor: pointer;
    border: solid 0.5px #000000;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    background: #000000;
    cursor: pointer;
    border: solid 0.5px #000000;
    border-radius: 50%;
}

.delegators{

}

.delegators-img{
  height: 3rem;
  border-radius: 50%;
}

.item-name{
  color: #343232;
  font-size:1rem;
  margin-top: 5px;
}

.item-name-device{
  color: white;
  font-size:1rem;
  font-weight: bold;
  margin-top: 5px;  
}

.crop{
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.crop2{
  height: 3.5rem;
  width: 3.5rem;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin: auto;
}

.cropnav{
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  padding: 7px;
}

.cropnav-device{
  height: 2rem;
  width: 2rem;
  margin: 3px auto;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  padding: 7px;  
}

.crop img{
  height: 5rem;
  width: 5rem;
}

.crop2 img{
  height: 3.5rem;
  width: 3.5rem;
}

.cropnav img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.cropnav-device img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.label-checkbox{
  font-size: 0.75rem;
  width: 14rem;
  display: block;
}

.slider-percentage{
  font-size: 0.8rem;
  float: right;  
}

.mb30{
  margin-bottom: 30px;
}

#left-total-income{
  height: 3.5rem;
  display: inline-block;
}

.table-title{
  margin-top: 20px;
  background-color: rgba(192, 221, 216, 0.5);
  border: solid 1px #979797;  
  display: block;
  padding: 6px 13px;
  vertical-align: middle;
}

.table{
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px #50e3c2;
  display: block;
  padding: 6px 13px;
  vertical-align: middle;
}

.field{
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  width: 20%;
  height: 3.5rem;
}

.field-device50{
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin-right: 20px;  
  height: 3.5rem;
}

.bold{
  font-weight: bold; 
}

.field-device{
  display: inline-block;
  vertical-align: middle;  
}

.field-device33{
  display: block;
  vertical-align: middle;    
}

::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8.5px;
  background-color: #d8d8d8;
  border: solid 1px #50e3c2; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8.5px;
  background-image: linear-gradient(to bottom, #21b0ec, #2ecaf3);
  border: solid 1px #979797;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 8.5px;
  background-image: linear-gradient(to bottom, #1a87b5, #2aacce);
  border: solid 1px #979797;
}
